<main>
    <h2>Add new flight</h2>
    <form method="POST">
        <label>Destination:</label>
        <input type="text" placeholder="Destination" name="destination" value="{{destination}}">
        <label>Origin:</label>
        <input type="text" placeholder="Origin" name="origin" value="{{origin}}">
        <label>Date:</label>
        <input type="date" name="date" value="{{date}}">
        <label>Time:</label>
        <input type="time" name="time" value="{{time}}">
        <label>Image:</label>
        <input type="text" name="image" value="{{image}}">
        <input type="submit" class="create" value="Create">
    </form>
</main>