<main>
    <h3>Your Flights</h3>
    <section class="purchased-ticket">
        <div class="purchased-left">
            <img src="{{image}}" alt="">
        </div>
        <div class="purchased-right">
            <div>
                <h3>{{destination}}</h3><span>{{date}}</span>
            </div>
            <div>
                from {{origin}} <span>{{time}}</span>
            </div>
            <p>{{qty}} x {{price}}$({{type}}) </p>
        </div>

    </section>
    <section class="purchased-ticket">
        <div class="purchased-left">
            <img src="static/img/Venice.jpg" alt="">
        </div>
        <div class="purchased-right">
            <div>
                <h3>LONDON</h3><span>18 January</span>
            </div>
            <div>from Cluj-Napoca<span>16:00</span>
            </div>
            <p>2 x 275$(Economy) </p>
        </div>

    </section>
    <footer>SoftUni Airlines</footer>
</main>

</body>

</html>