<div>
	<div class="home-image">
		<img src="{{imageUrl}}" alt="Card image cap">
	</div>
	<div class="info">
		<h4>{{title}}</h4>
		<div class="info-buttons">
			<a class="btn details" href="/custom/details/{{_id}}">Details</a>
			<span class="likes">{{likers.length}} likes</span>
			<span class="likes">{{createdAt}} createdAt</span>
		</div>
	</div>
</div>